@font-face {
  font-family: 'Roboto-Regular';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto-Regular'),
        url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Rubik-Bold';
  font-style: bold;
  font-weight: 700;
  src: local('Rubik-Bold'),
        url('../fonts/Rubik-Bold.woff2') format('woff2'),
        url('../fonts/Rubik-Bold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Rubik-Light';
  font-style: light;
  font-weight: 300;
  src: local('Rubik-Light'),
        url('../fonts/Rubik-Light.woff2') format('woff2'),
        url('../fonts/Rubik-Light.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Rubik-Medium';
  font-style: medium;
  font-weight: 500;
  src: local('Rubik-Medium'),
        url('../fonts/Rubik-Medium.woff2') format('woff2'),
        url('../fonts/Rubik-Medium.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Rubik-Regular';
  font-style: normal;
  font-weight: 400;
  src: local('Rubik-Regular'),
        url('../fonts/Rubik-Regular.woff2') format('woff2'),
        url('../fonts/Rubik-Regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Rubik-SemiBold';
  font-style: semibold;
  font-weight: 600;
  src: local('Rubik-SemiBold'),
        url('../fonts/Rubik-SemiBold.woff2') format('woff2'),
        url('../fonts/Rubik-SemiBold.woff') format('woff');
  font-display: swap;
}