
%roboto-400 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

%rubik-400 {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

%rubik-500 {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
}

%rubik-600 {
  font-family: 'Rubik', sans-serif;
  font-weight: 600;
}

%rubik-700 {
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
}